header {
  line-height: 60px;
  height: 60px;
  background-color: rgb(85, 85, 85);

  .home-page {
    float: left;
    width: 150px;
    text-align: center;
    height: 60px;
    line-height: 60px;

    a {
      font-size: 20px;
      color: #fff;
    }
  }

  .account-toggle {
    float: right;
    width: 180px;
    height: 60px;
    line-height: 60px;

    .ant-avatar {
      margin-right: 20px;
    }

    a {
      font-size: 16px;
      color: #fff;
    }
  }
}
