:host(.view-container) {
  height: 100%;
  width: 100%;
}

.left-menu {
  width: 200px;
  height: 100%;
  background: rgb(232, 233, 233);
  float: left;
}

.content {
  float: left;
  width:-moz-calc(100% - (200px));
	width:-webkit-calc(100% - (200px));
	width: calc(100% - (200px));
  min-height: 100%;
  padding: 10px;
}

.menu-item:hover {
  background-color: rgb(215, 224, 223);
}
