<header>
  <div class="home-page"><a [routerLink]="[ '/index' ]" routerLinkActive="active">首页</a> </div>
  <div class="account-toggle">
    <nz-badge [nzOverflowCount]="10" [nzCount]="20" (click)="watchMessage()">
      <nz-avatar nzIcon="user" (click)="showMaterial($event)"></nz-avatar>
    </nz-badge>
    <nz-dropdown nzTrigger="click">
      <a nz-dropdown>admin &nbsp;<i nz-icon type="down"></i></a>
      <ul nz-menu nzSelectable>
        <li nz-menu-item></li>
        <li nz-menu-item><a>2nd menu item</a></li>
      </ul>
    </nz-dropdown>
  </div>
</header>
<div class="view-container" [ngStyle]="{'height': minHeight}">
  <ul nz-menu [nzMode]="'inline'" class="left-menu">
    <li nz-submenu class="menu-item">
      <span title class="menu-title"><i nz-icon [nzType]="'setting'"></i>系统管理</span>
      <ul>
        <li nz-menu-item [routerLink]="[ '/index' ]"><i nz-icon [nzType]="'bars'"></i>文章管理</li>
      </ul>
      <ul>
        <li nz-menu-item [routerLink]="[ '/arc_post' ]"><i nz-icon [nzType]="'edit'" nzTheme="outline"></i>文章发布</li>
      </ul>
      <ul>
        <li nz-menu-item><i nz-icon [nzType]="'file'"></i>页面管理</li>
      </ul>
      <ul>
        <li nz-menu-item><i nz-icon [nzType]="'message'"></i>评论管理</li>
      </ul>
      <ul>
        <li nz-menu-item><i nz-icon [nzType]="'tag'"></i>文章分类</li>
      </ul>
      <ul>
        <li nz-menu-item><i nz-icon [nzType]="'link'"></i>友链管理</li>
      </ul>
    </li>
  </ul>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
