/* You can add global styles to this file, and also import other style files */
html {
  padding: 0 15px;
}

body {
  height: 100%;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', 'serif';
  color: rgb(19, 16, 16);
  background-color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(25, 175, 235);
}

a:visited {
  color: rgb(25, 175, 235);
}

ul.horizon {
  li {
    float: left;
  }

  ::after {
    display: block;
    content: ' ';
    clear: both;
  }
}

.ant-scroll-number {
  right: 10px !important;
  width: 25px;
  padding: 0px;

  &:hover {
    cursor: pointer;
  }
}

.ant-btn {
  margin: 0px;
  font-size: 12px;
  border-width: 2px;
  line-height: 1.5;

  span {
    margin-left: 2px !important;
  }
}

.ant-btn>.anticon+span {
  margin-left: 1px;
}