.edit-btn {
  border-color: #9c7bd1;
  background-color: #9c7bd1;
  color: #fff;

  &:hover {
    background-color: rgb(178, 159, 245);
    color: #fff;
    border-color: rgb(178, 159, 245);
  }
}
.del-btn {
  border-color: #f5222d;
  background-color: #f5222d;
  color: #fff;

  &:hover {
    background-color: rgb(247, 119, 119);
    color: #fff;
    border-color: rgb(247, 119, 119);
  }
}
::ng-deep{
  .ant-table-thead{
    tr th{
      text-align: center;
      font-weight: bold;
    }
  }
  .ant-table-row .arc-title,
  .ant-table-row .arc-type{
    color: #2878c4;
  } 
}